:root {
  --vp-c-brand-1: var(--phi-color-neutral-default);
  --vp-c-brand-2: var(--phi-color-neutral-hover);
  --vp-code-color: var(--phi-color-fg);
}

figure {
  margin: 16px 0;
  padding: 1.25rem 1.5rem;
  border: 1px solid var(--vp-c-border);
  border-radius: 6px;
}
