:root {
  --vp-c-brand-1: var(--phi-color-neutral-default);
  --vp-c-brand-2: var(--phi-color-neutral-hover);
  --vp-code-color: var(--phi-color-fg);
}

figure {
  margin: 16px 0;
  padding: 1.25rem 1.5rem;
  border-radius: 6px;

  color: var(--phi-color-palette-fg);
  background: var(--phi-color-palette-bg);
  border: 1px solid var(--phi-color-palette-border);

  &.light {
    --phi-color-palette-neutral-weaker:   #ffb81cff; /* okhsl(80, 100, 80) */
    --phi-color-palette-neutral-base:     #eeaa00ff; /* okhsl(80, 100, 75) */
    --phi-color-palette-neutral-stronger: #cd9200ff; /* okhsl(80, 100, 65) */
    --phi-color-palette-neutral-bg:       #eeaa0020;
    --phi-color-palette-neutral-outline:  #eeaa0030;
    --phi-color-palette-danger-weaker:   #fa837eff;  /* okhsl(24, 90, 70) */
    --phi-color-palette-danger-base:     #f76b68ff;  /* okhsl(24, 90, 65) */
    --phi-color-palette-danger-stronger: #e53c42ff;  /* okhsl(24, 90, 55) */
    --phi-color-palette-danger-bg:       #f76b6820;
    --phi-color-palette-danger-outline:  #f76b6830;
    --phi-color-palette-bg:     #ffffffff;
    --phi-color-palette-fg:     #000000d0; /* #323232 */
    --phi-color-palette-border: #00000040; /* #b2b2b2 */
    --phi-color-palette-shadow: #00000040;
  }

  &.dark {
    --phi-color-palette-neutral-weaker:   #c79431ff; /* okhsl(80, 80, 65) */
    --phi-color-palette-neutral-base:     #d7a139ff; /* okhsl(80, 80, 70) */
    --phi-color-palette-neutral-stronger: #e6af47ff; /* okhsl(80, 80, 75) */
    --phi-color-palette-neutral-bg:       #d7a13920;
    --phi-color-palette-neutral-outline:  #d7a13930;
    --phi-color-palette-danger-weaker:   #e65f5cff;  /* okhsl(24, 80, 60) */
    --phi-color-palette-danger-base:     #ee736eff;  /* okhsl(24, 80, 65) */
    --phi-color-palette-danger-stronger: #f38882ff;  /* okhsl(24, 80, 70) */
    --phi-color-palette-danger-bg:       #ee736e20;
    --phi-color-palette-danger-outline:  #ee736e30;
    --phi-color-palette-bg:     #222222ff;
    --phi-color-palette-fg:     #ffffffd0; /* #d4d4d4 */
    --phi-color-palette-border: #ffffff40; /* #656565 */
    --phi-color-palette-shadow: #00000080;
  }
}
