@import "../contrib/destyle.min.css";

/*
 * NOTE:
 * These styles below seep (cascade) into shadow roots,
 * so we need to load this CSS just once for the global root element.
 * (unlike reset CSS that need to be applied for each shadow roots)
 */

/* okhsl color picker -> https://bottosson.github.io/misc/colorpicker/ */

/* opacity:
 *
 *  1/16 ... 10
 *  2/16 ... 20 (1/8)
 *  3/16 ... 30
 *  4/16 ... 40 (1/4)
 *  5/16 ... 50
 *  6/16 ... 60 (3/8)
 *  7/16 ... 70
 *  8/16 ... 80 (1/2)
 *  9/16 ... 90
 * 10/16 ... a0 (5/8)
 * 11/16 ... b0
 * 12/16 ... c0 (3/4)
 * 13/16 ... d0
 * 14/16 ... e0 (7/8)
 * 15/16 ... f0
 */

/* size:
 *
 *  1/8 ... 0.125rem  1.25px
 *  2/8 ... 0.250rem  3.50px (1/4)
 *  3/8 ... 0.375rem  5.25px
 *  4/8 ... 0.500rem  7.00px (1/2)
 *  5/8 ... 0.625rem  8.75px
 *  6/8 ... 0.750rem 10.50px (3/4)
 *  7/8 ... 0.875rem 12.25px
 *  8/8 ... 1.000rem 14.00px (1)
 *  9/8 ... 1.125rem 15.75px
 * 10/8 ... 1.250rem 17.50px (5/4)
 * 11/8 ... 1.375rem 19.25px
 * 12/8 ... 1.500rem 21.00px (3/2)
 * 13/8 ... 1.625rem 22.75px
 * 14/8 ... 1.750rem 24.50px (7/4)
 * 15/8 ... 1.875rem 26.25px
 * 16/8 ... 2.000rem 28.00px (2)
 */

:root {
  --phi-color-palette-neutral-lighter: #ffb81cff; /* okhsl(80, 100, 80) */
  --phi-color-palette-neutral-base:    #eeaa00ff; /* okhsl(80, 100, 75) */
  --phi-color-palette-neutral-darker:  #cd9200ff; /* okhsl(80, 100, 65) */
  --phi-color-palette-neutral-bg:      #eeaa0020;
  --phi-color-palette-neutral-outline: #eeaa0030;

  --phi-color-palette-danger-lighter: #fa837eff;  /* okhsl(24, 90, 70) */
  --phi-color-palette-danger-base:    #f76b68ff;  /* okhsl(24, 90, 65) */
  --phi-color-palette-danger-darker:  #e53c42ff;  /* okhsl(24, 90, 55) */
  --phi-color-palette-danger-bg:      #f76b6820;
  --phi-color-palette-danger-outline: #f76b6830;

  --phi-color-bg:         #ffffffff;
  --phi-color-distant-fg: #ffffffff;
  --phi-color-fg:         #000000d0; /* #323232 */
  --phi-color-border:     #00000040; /* #b2b2b2 */

  --phi-color-neutral-bg:      var(--phi-color-palette-neutral-bg);
  --phi-color-neutral-hover:   var(--phi-color-palette-neutral-lighter);
  --phi-color-neutral-default: var(--phi-color-palette-neutral-base);
  --phi-color-neutral-active:  var(--phi-color-palette-neutral-darker);
  --phi-color-danger-bg:       var(--phi-color-palette-danger-bg);
  --phi-color-danger-hover:    var(--phi-color-palette-danger-lighter);
  --phi-color-danger-default:  var(--phi-color-palette-danger-base);
  --phi-color-danger-active:   var(--phi-color-palette-danger-darker);

  --phi-shadow-pressable-default:
    0 1px #00000040;
  --phi-shadow-pressable-neutral-default:
    0 1px #00000020,
    0 1px var(--phi-color-palette-neutral-base);
  --phi-shadow-pressable-neutral-hover:
    0 1px #00000020,
    0 1px var(--phi-color-palette-neutral-lighter);
  --phi-shadow-pressable-danger-default:
    0 1px #00000020,
    0 1px var(--phi-color-palette-danger-base);
  --phi-shadow-pressable-danger-hover:
    0 1px #00000020,
    0 1px var(--phi-color-palette-danger-lighter);
  --phi-shadow-focus-neutral:
    0 0 0 2px var(--phi-color-palette-neutral-outline);
  --phi-shadow-focus-danger:
    0 0 0 2px var(--phi-color-palette-danger-outline);

  --phi-fontsize-md: 1.000rem;
  --phi-lineheight: 1.250rem;

  --phi-fontsize-icon-md: 1.250rem;
  --phi-fontsize-icon-lg: 1.875rem;
  --phi-fontsize-checkbox: 1.125rem;

  --phi-radius-sm: 0.250rem;
  --phi-radius-md: 0.625rem;

  --phi-spacing-padding-sm: calc(0.375rem - 1px);
  --phi-spacing-padding-md: calc(1.000rem - 1px);

  --phi-spacing-margin-inline: 0.375rem;
  --phi-spacing-margin-sm: 0.250rem;
  --phi-spacing-margin-md: 0.500rem;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --phi-color-palette-neutral-lighter: #e6af47ff; /* okhsl(80, 80, 75) */
    --phi-color-palette-neutral-base:    #d7a139ff; /* okhsl(80, 80, 70) */
    --phi-color-palette-neutral-darker:  #c79431ff; /* okhsl(80, 80, 65) */
    --phi-color-palette-neutral-bg:      #d7a13920;
    --phi-color-palette-neutral-outline: #d7a13930;

    --phi-color-palette-danger-lighter: #f38882ff;  /* okhsl(24, 80, 70) */
    --phi-color-palette-danger-base:    #ee736eff;  /* okhsl(24, 80, 65) */
    --phi-color-palette-danger-darker:  #e65f5cff;  /* okhsl(24, 80, 60) */
    --phi-color-palette-danger-bg:      #ee736e20;
    --phi-color-palette-danger-outline: #ee736e30;

    --phi-color-bg:         #222222ff;
    --phi-color-distant-fg: #222222ff;
    --phi-color-fg:         #ffffffd0; /* #d4d4d4 */
    --phi-color-border:     #ffffff40; /* #656565 */

    --phi-color-neutral-hover:  var(--phi-color-palette-neutral-darker);
    --phi-color-neutral-active: var(--phi-color-palette-neutral-lighter);
    --phi-color-danger-hover:   var(--phi-color-palette-danger-darker);
    --phi-color-danger-active:  var(--phi-color-palette-danger-lighter);
  }
}

html.dark:not(.light) {
  --phi-color-palette-neutral-lighter: #e6af47ff; /* okhsl(80, 80, 75) */
  --phi-color-palette-neutral-base:    #d7a139ff; /* okhsl(80, 80, 70) */
  --phi-color-palette-neutral-darker:  #c79431ff; /* okhsl(80, 80, 65) */
  --phi-color-palette-neutral-bg:      #d7a13920;
  --phi-color-palette-neutral-outline: #d7a13930;

  --phi-color-palette-danger-lighter: #f38882ff;  /* okhsl(24, 80, 70) */
  --phi-color-palette-danger-base:    #ee736eff;  /* okhsl(24, 80, 65) */
  --phi-color-palette-danger-darker:  #e65f5cff;  /* okhsl(24, 80, 60) */
  --phi-color-palette-danger-bg:      #ee736e20;
  --phi-color-palette-danger-outline: #ee736e30;

  --phi-color-bg:         #222222ff;
  --phi-color-distant-fg: #222222ff;
  --phi-color-fg:         #ffffffd0; /* #d4d4d4 */
  --phi-color-border:     #ffffff40; /* #656565 */

  --phi-color-neutral-hover:  var(--phi-color-palette-neutral-darker);
  --phi-color-neutral-active: var(--phi-color-palette-neutral-lighter);
  --phi-color-danger-hover:   var(--phi-color-palette-danger-darker);
  --phi-color-danger-active:  var(--phi-color-palette-danger-lighter);
}

/* this will be the basis for "rem" unit. */
html {
  font-size: 14px;
}

body {
  font-family:
    'Helvetica Neue',
    Arial,
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    Meiryo,
    sans-serif;
  font-size: var(--phi-fontsize-md);

  line-height: var(--phi-lineheight);
  color: var(--phi-color-fg);
  background-color: var(--phi-color-bg);
}
