@import "../contrib/destyle.min.css";

/* CSS loaded for EACH roots (shadow roots and the global root). */

/*
 * NOTE:
 * We define these variables for each shadow root, so that the palette can be
 * overriden at non-root parents.
 */

/* size:
 *
 *  1/8 ... 0.125rem  1.25px
 *  2/8 ... 0.250rem  3.50px (1/4)
 *  3/8 ... 0.375rem  5.25px
 *  4/8 ... 0.500rem  7.00px (1/2)
 *  5/8 ... 0.625rem  8.75px
 *  6/8 ... 0.750rem 10.50px (3/4)
 *  7/8 ... 0.875rem 12.25px
 *  8/8 ... 1.000rem 14.00px (1)
 *  9/8 ... 1.125rem 15.75px
 * 10/8 ... 1.250rem 17.50px (5/4)
 * 11/8 ... 1.375rem 19.25px
 * 12/8 ... 1.500rem 21.00px (3/2)
 * 13/8 ... 1.625rem 22.75px
 * 14/8 ... 1.750rem 24.50px (7/4)
 * 15/8 ... 1.875rem 26.25px
 * 16/8 ... 2.000rem 28.00px (2)
 */

:root, :host {
  /* Color mappings */

  --phi-color-bg:         var(--phi-color-palette-bg);
  --phi-color-distant-fg: var(--phi-color-palette-bg);
  --phi-color-fg:         var(--phi-color-palette-fg);
  --phi-color-border:     var(--phi-color-palette-border);

  --phi-color-neutral-bg:      var(--phi-color-palette-neutral-bg);
  --phi-color-neutral-hover:   var(--phi-color-palette-neutral-weaker);
  --phi-color-neutral-default: var(--phi-color-palette-neutral-base);
  --phi-color-neutral-active:  var(--phi-color-palette-neutral-stronger);
  --phi-color-danger-bg:       var(--phi-color-palette-danger-bg);
  --phi-color-danger-hover:    var(--phi-color-palette-danger-weaker);
  --phi-color-danger-default:  var(--phi-color-palette-danger-base);
  --phi-color-danger-active:   var(--phi-color-palette-danger-stronger);

  /* Shadows */

  --phi-shadow-pressable-default:
    0 1px var(--phi-color-palette-border);
  --phi-shadow-pressable-neutral-default:
    0 1px var(--phi-color-palette-shadow),
    0 1px var(--phi-color-palette-neutral-base);
  --phi-shadow-pressable-neutral-hover:
    0 1px var(--phi-color-palette-shadow),
    0 1px var(--phi-color-palette-neutral-weaker);
  --phi-shadow-pressable-danger-default:
    0 1px var(--phi-color-palette-shadow),
    0 1px var(--phi-color-palette-danger-base);
  --phi-shadow-pressable-danger-hover:
    0 1px var(--phi-color-palette-shadow),
    0 1px var(--phi-color-palette-danger-weaker);
  --phi-shadow-focus-neutral:
    0 0 0 2px var(--phi-color-palette-neutral-outline);
  --phi-shadow-focus-danger:
    0 0 0 2px var(--phi-color-palette-danger-outline);

  /* Sizes */

  --phi-lineheight: 1.250rem;
  --phi-fontsize-md: 1.000rem;
  --phi-fontsize-icon-md: 1.250rem;
  --phi-fontsize-icon-lg: 1.875rem;
  --phi-fontsize-checkbox: 1.125rem;
  --phi-size-icon-button: 2.500rem;
  --phi-size-input-sm: 2.000rem;
  --phi-size-input-md: 3.000rem;
  --phi-size-range-track: 0.625rem;
  --phi-size-range-thumb-scale: 2;

  /* Shapes */

  --phi-radius-sm: 0.250rem;
  --phi-radius-md: 0.625rem;

  /* Spacings */

  --phi-spacing-padding-sm: 0.625rem;
  --phi-spacing-padding-md: 1.000rem;

  --phi-spacing-margin-sm: 0.250rem;
  --phi-spacing-margin-md: 0.500rem;

  --phi-spacing-horizontal-space: 0.375rem;
}

*:focus-visible {
  outline: none;
}
