/* okhsl color picker -> https://bottosson.github.io/misc/colorpicker/ */

/* opacity:
 *
 *  1/16 ... 10
 *  2/16 ... 20 (1/8)
 *  3/16 ... 30
 *  4/16 ... 40 (1/4)
 *  5/16 ... 50
 *  6/16 ... 60 (3/8)
 *  7/16 ... 70
 *  8/16 ... 80 (1/2)
 *  9/16 ... 90
 * 10/16 ... a0 (5/8)
 * 11/16 ... b0
 * 12/16 ... c0 (3/4)
 * 13/16 ... d0
 * 14/16 ... e0 (7/8)
 * 15/16 ... f0
 */

/* size:
 *
 *  1/8 ...  1.25px
 *  2/8 ...  3.50px (1/4)
 *  3/8 ...  5.25px
 *  4/8 ...  7.00px (1/2)
 *  5/8 ...  8.75px
 *  6/8 ... 10.50px (3/4)
 *  7/8 ... 12.25px
 *  8/8 ... 14.00px (1)
 *  9/8 ... 15.75px
 * 10/8 ... 17.50px (5/4)
 * 11/8 ... 19.25px
 * 12/8 ... 21.00px (3/2)
 * 13/8 ... 22.75px
 * 14/8 ... 24.50px (7/4)
 * 15/8 ... 26.25px
 * 16/8 ... 28.00px (2)
 */

@import "../contrib/destyle.min.css";

:root, :host {
  --phi-color-palette-neutral-lighter: #ffb81cff; /* okhsl(80, 100, 80) */
  --phi-color-palette-neutral-base:    #eeaa00ff; /* okhsl(80, 100, 75) */
  --phi-color-palette-neutral-darker:  #cd9200ff; /* okhsl(80, 100, 65) */
  --phi-color-palette-neutral-bg:      #eeaa0020;
  --phi-color-palette-neutral-outline: #eeaa0030;

  --phi-color-palette-danger-lighter: #fa837eff;  /* okhsl(24, 90, 70) */
  --phi-color-palette-danger-base:    #f76b68ff;  /* okhsl(24, 90, 65) */
  --phi-color-palette-danger-darker:  #e53c42ff;  /* okhsl(24, 90, 55) */
  --phi-color-palette-danger-bg:      #f76b6820;
  --phi-color-palette-danger-outline: #f76b6830;

  --phi-color-bg:         #ffffffff;
  --phi-color-distant-fg: #ffffffff;
  --phi-color-fg:         #000000d0; /* #323232 */
  --phi-color-border:     #00000040; /* #b2b2b2 */

  --phi-color-neutral-bg:      var(--phi-color-palette-neutral-bg);
  --phi-color-neutral-hover:   var(--phi-color-palette-neutral-lighter);
  --phi-color-neutral-default: var(--phi-color-palette-neutral-base);
  --phi-color-neutral-active:  var(--phi-color-palette-neutral-darker);
  --phi-color-danger-bg:       var(--phi-color-palette-danger-bg);
  --phi-color-danger-hover:    var(--phi-color-palette-danger-lighter);
  --phi-color-danger-default:  var(--phi-color-palette-danger-base);
  --phi-color-danger-active:   var(--phi-color-palette-danger-darker);

  --phi-shadow-pressable-default:
    0 1px #00000040;
  --phi-shadow-pressable-neutral-default:
    0 1px #00000020,
    0 1px var(--phi-color-palette-neutral-base);
  --phi-shadow-pressable-neutral-hover:
    0 1px #00000020,
    0 1px var(--phi-color-palette-neutral-lighter);
  --phi-shadow-pressable-danger-default:
    0 1px #00000020,
    0 1px var(--phi-color-palette-danger-base);
  --phi-shadow-pressable-danger-hover:
    0 1px #00000020,
    0 1px var(--phi-color-palette-danger-lighter);
  --phi-shadow-focus-neutral:
    0 0 0 2px var(--phi-color-palette-neutral-outline);
  --phi-shadow-focus-danger:
    0 0 0 2px var(--phi-color-palette-danger-outline);

  --phi-fontsize-md: 14px;
  --phi-fontsize-icon-md: 17.5px;
  --phi-fontsize-icon-lg: 26.25px;

  --phi-radius-md: 8.75px;

  --phi-spacing-padding-sm: calc(5.25px - 1px);
  --phi-spacing-padding-md: calc(14px - 1px);
  --phi-spacing-margin-inline: 5.25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --phi-color-palette-neutral-lighter: #e6af47ff; /* okhsl(80, 80, 75) */
    --phi-color-palette-neutral-base:    #d7a139ff; /* okhsl(80, 80, 70) */
    --phi-color-palette-neutral-darker:  #c79431ff; /* okhsl(80, 80, 65) */
    --phi-color-palette-neutral-bg:      #d7a13920;
    --phi-color-palette-neutral-outline: #d7a13930;

    --phi-color-palette-danger-lighter: #f38882ff;  /* okhsl(24, 80, 70) */
    --phi-color-palette-danger-base:    #ee736eff;  /* okhsl(24, 80, 65) */
    --phi-color-palette-danger-darker:  #e65f5cff;  /* okhsl(24, 80, 60) */
    --phi-color-palette-danger-bg:      #ee736e20;
    --phi-color-palette-danger-outline: #ee736e30;

    --phi-color-bg:         #222222ff;
    --phi-color-distant-fg: #222222ff;
    --phi-color-fg:         #ffffffd0; /* #d4d4d4 */
    --phi-color-border:     #ffffff40; /* #656565 */

    --phi-color-neutral-hover:  var(--phi-color-palette-neutral-darker);
    --phi-color-neutral-active: var(--phi-color-palette-neutral-lighter);
    --phi-color-danger-hover:   var(--phi-color-palette-danger-darker);
    --phi-color-danger-active:  var(--phi-color-palette-danger-lighter);
  }
}

body, :host {
  font-family:
    'Helvetica Neue',
    Arial,
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    Meiryo,
    sans-serif;
  font-size: var(--phi-fontsize-md);

  background-color: var(--phi-color-bg);
  color: var(--phi-color-fg);
  line-height: 1.25em;
}
