name: Check PR

on:
  pull_request:

jobs:
  check-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6.1.0
      - run: yarn install
      - run: yarn run lint
      - run: yarn run check
      - run: yarn run build
      - run: yarn run build-doc
